@using RickAndMortyKahoot.Controllers
@using RickAndMortyKahoot.Models.Users
@model UserPayload

<dialog id="create-user">
  <h1>Hello there! Let's set you up!</h1>
  <form asp-action="@(nameof(HomeController.UserRegisterSubmit))" method="post">
    <div class="input-group">
      <label asp-for="Username">Username</label>
      <input asp-for="Username" required placeholder="Enter your username..." />
    </div>
    <div class="button-panel">
      <button type="button" class="cancel" onclick="closeModal('create-user')">Cancel</button>
      <button type="submit" class="primary brand">Register user</button>
    </div>
  </form>
</dialog>
