@using RickAndMortyKahoot.Models.Users
@using RickAndMortyKahoot.Models.Games
@using RickAndMortyKahoot.Stores
@using RickAndMortyKahoot.ViewModels
@model GameViewModel
@inject ProjectStore store

<section class="game">
  <header>
    @if (store.Users.TryGetValue(Model.Game.HostId, out User? host))
    {
      <h1>@(host?.Username)'s "kahoot" game</h1>
    }
    else
    {
      <h1>Someone's "kahoot" game</h1>
    }
    <p>Game code: <span>@(Model.Game.InviteCode)</span></p>
  </header>
  <ul class="user-list">
    @foreach (Guid userId in Model.Game.UserIds)
    {
      @if (store.Users.TryGetValue(userId, out User? user))
      {
        <li>@(user?.Username)</li>
      }
      else
      {
        <li>Player-@(userId)</li>
      }
    }
  </ul>

  @if (Model.CurrentUserId == Model.Game.HostId)
  {
    <button id="start-game" type="button">Start game</button>
  }
</section>

@section scripts {
  <script src="~/js/pages/game.js" type="module"></script>
}