@using RickAndMortyKahoot.Controllers
@using RickAndMortyKahoot.Models.Games
@using RickAndMortyKahoot.Models.Users
@using System.Text.Json
@using RickAndMortyKahoot.Services.Question
@using RickAndMortyKahoot.ViewModels
@model UserViewModel
@inject QuestionService questionService
@{
  ViewData["Title"] = "Home";
}

@if (Model.User is null || Model.CurrentUserId is null)
{
  <h1>You are not connected to a user.</h1>
  <button type="button" class="brand primary" onclick="openModal('create-user')">Register</button>
  <partial name="_CreateUserModal" model="new UserPayload()" />
}
else
{
  <input type="hidden" id="user-data" value="@(JsonSerializer.Serialize(Model.User, new JsonSerializerOptions()
    {
      PropertyNamingPolicy = JsonNamingPolicy.CamelCase
    }))" 
  />

  <h1>Hi, @(Model.User.Username)!</h1>
  <div class="button-panel">
    <button id="join-game" type="button" class="primary" onclick="openModal('join-game-modal')">Join game</button>
    <p class="or">or</p>
    <button type="button" class="primary" onclick="openModal('create-game-modal')">Create game</button>
  </div>

  <partial name="_CreateGameModal" model="new CreateGamePayload(Model.CurrentUserId.Value, questionService.Questions.Count)" />
  <partial name="_JoinGameModal" model="new JoinGamePayload(Model.CurrentUserId.Value)" />
}

@section styles {
  <link rel="stylesheet" href="~/css/Form.css" />
}

@section scripts {
  <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
  <script type="module" src="js/pages/home.js"></script>
}