@using RickAndMortyKahoot.Controllers
@using RickAndMortyKahoot.Models.Users
@using System.Text.Json
@model User?
@{
    ViewData["Title"] = "Home";
}

<button onclick="openModal('create-user')">Register</button>
@if (Model is null)
{
  <partial name="_CreateUserForm" model="new UserPayload()" />
}
else
{
  <input type="hidden" id="user-data" value="@(JsonSerializer.Serialize(Model))" />
  <input type="hidden" id="displayname" value="@(Model.Username)" />

  <h1>Hi, @(Model.Username)!</h1>
  <div class="button-panel">
    <button id="join-game" type="button" class="primary">Join game</button>
    <p class="or">or</p>
    <button id="create-game" type="button" class="primary">Create game</button>
  </div>

  <dialog id="join-game-modal">
    <h1>You could join a game here</h1>
  </dialog>
}

@section scripts {
  <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
  <script type="module" src="js/pages/home.js"></script>
}