<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - RickAndMortyKahoot</title>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/Button.css" />
  <link rel="stylesheet" href="~/css/Link.css" />
  <link rel="stylesheet" href="~/css/Dialog.css" />
  @await RenderSectionAsync("Styles", required: false)
</head>
<body>
  <header>
    <nav>
      <a asp-area="" asp-controller="Home" asp-action="Index">RickAndMortyKahoot</a>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="site-footer">
    <p>
      &copy; 2024 - RickAndMortyKahoot - <a href="https://github.com/DanielSimonsen90/RickAndMortyKahoot" target="_blank">Daniel Simonsen</a> - Version 1.0.1
    </p>
    <button class="brand secondary" onclick="clearCache()">Clear cache</button>
  </footer>
    <script src="~/js/pages/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
