dialog {
  background-color: var(--background-secondary);
  color: var(--text-primary);
  border-color: var(--background-tertiary);
  border-radius: .5em;

  form {
    display: grid;
    gap: 1ch;
  }
}