@using RickAndMortyKahoot.Models.Users
@using RickAndMortyKahoot.Stores
@using RickAndMortyKahoot.ViewModels
@model GameViewModel
@inject ProjectStore store

<main>
  <header>
    @if (!store.Users.TryGetValue(Model.Game.HostId, out User? host) || host is null)
    {
      <h1>Someone's "kahoot" game</h1>
    }
    else
    {
      <h1>@(host.Username)'s "kahoot" game</h1>
    }
    <div id="round-timer" class="timer"></div>
    <div id="round-timer-end" class="timer"></div>
  </header>
  <div id="current-question"></div>
</main>
<aside>
  <partial name="_UserList" model="new UserListViewModel(Model.Game.UserIds, Model.Game.HostId)" />
</aside>
@if (Model.CurrentUserId == Model.Game.HostId)
{
  <button type="button" class="danger secondary" id="end-game">End game</button>
}

@section styles {
  <link rel="stylesheet" href="~/css/game.css" />
  <link rel="stylesheet" href="~/css/user-list.css" />
  <link rel="stylesheet" href="~/css/active-game.css" />
  <link rel="stylesheet" href="~/css/Timer.css" />
}

@section scripts {
  <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
  <script src="~/js/pages/active-game.js" type="module"></script>
}