main > header {
  font-size: 0.6rem;
}
main > header h1 {
  margin: 0;
  padding: 1em 2em;
  border-bottom: var(--border);
}

#current-question .question {
  display: grid;
  align-items: center;
  justify-items: center;
}
#current-question .question header {
  display: grid;
  grid-template-areas: "question progress" "answer answer";
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1ch;
}
#current-question .question header h1 {
  text-align: center;
}
#current-question .question header h1 strong {
  text-decoration: underline;
}
#current-question .question header:not(:has(#round-active)) h1 {
  color: var(--text-muted);
}
#current-question .choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5ch;
  list-style: none;
  padding: 0;
  margin-bottom: 5em;
}
#current-question .choices li {
  display: grid;
  --size: 10ch;
  min-height: var(--size);
  min-width: var(--size);
}
#current-question .choices li * {
  font-size: 2rem;
}
#current-question .choices .choice.selected {
  border: 1px solid var(--text-primary);
}
#current-question .choices .choice.selected.correct {
  --answer-color: var(--crud-success);
}
#current-question .choices .choice.correct {
  text-decoration: underline;
  background-color: var(--answer-color);
}
#current-question .choices .choice.correct:not(.selected) {
  --answer-color: var(--crud-danger);
}

#correct-answer {
  width: -moz-max-content;
  width: max-content;
  margin-inline: auto;
}
#correct-answer p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5em;
}
#correct-answer .correct-answer-value {
  font-size: 1.65rem;
}
#correct-answer #score {
  margin: 3em auto;
  padding: 1em 0;
  border-top: var(--border);
  border-bottom: var(--border);
}
#correct-answer #score h2 {
  margin: 0.5em 0;
}

#questions-progress::before {
  content: "(";
}
#questions-progress::after {
  content: ")";
}