body {
  --background-primary: #222;
  --background-secondary: #333;
  --background-tertiary: #444;
  --text-primary: #eee;
  --text-secondary: #ddd;
  --text-tertiary: #ccc;
  --text-muted: #888;
  --text-link: #206dc0;
  --brand: #875ada;
  --host: rgb(255, 235, 59);
  --crud-success: #4caf50;
  --crud-danger: #f44336;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
}

* {
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

body {
  margin-bottom: 60px;
  min-height: calc(100vh - 60px);
}

main {
  display: grid;
  align-items: center;
  justify-items: center;
}

.or {
  display: flex;
  align-items: center;
  gap: 1ch;
}
.or::before, .or::after {
  content: "";
  flex: 1;
  border-top: 1px solid var(--background-tertiary);
  width: 3ch;
}