.timer {
  --color: var(--brand);
  background-color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3px;
  height: 100%;
  width: 0%;
}
.timer.active {
  --duration: 0s;
  animation: load var(--duration) linear forwards;
}
.timer.critical {
  --color: var(--crud-danger);
  animation: load var(--duration) linear forwards, blink 1s infinite;
}
.timer.critical.reset {
  animation-timeline: 0;
}

@keyframes load {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}