.game {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1em;

  h1 {
    text-align: center;
  }

  .game-code {
    user-select: none;    

    &__inner {
      background-color: var(--background-secondary);
      border: 1px solid var(--background-tertiary);
      border-radius: .25em;
      
      padding: .5em;
      margin-left: .5ch;

      user-select: text;
    }
  }
}

.users {
  background-color: var(--background-secondary);
  border: 1px solid var(--background-tertiary);
  padding: 1em;
  border-radius: .25em;

  h1 {
    margin: 0;
    margin-bottom: .5em;
    text-align: center;
  }

  ul {
    padding: 0;
    margin: 0;
    margin-left: 1em;
    display: grid;
    gap: 1ch;
  }
}

.score-list {
  padding-left: 1ch;
}